<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
        <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
    </header>
    <div class="collapsible__content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit blanditiis, ullam sed libero quasi ex
            explicabo cumque sit ipsam natus!</p>
    </div>
</div>
<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 2</h2>
        <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
    </header>
    <div class="collapsible__content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic impedit rem illo quibusdam repudiandae?</p>
    </div>
</div>