<section class="block container">
    <header class="block__header">
        <h2>Host on the Cloud to Keep Growing</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, assumenda.</p>
    </header>
    <article class="grid grid--1X2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Super Easy to Use.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime hic in et. Quasi incidunt soluta cumque
                et,
                ad officiis maxime?</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <!-- TODO: extract mulitple size images for optimization for WebP Format  -->
        <img class="feature__image" src="images/easy.jpg">
    </article>
    <article class="grid grid--1X2 feature">

        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#computer"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Simply Fast Websites.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime hic in et. Quasi incidunt soluta cumque
                et,
                ad officiis maxime?</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <!-- TODO: extract mulitple size images for optimization for WebP Format  -->
        <img class="feature__image" src="images/fast.jpg">
    </article>
    <article class="grid grid--1X2 feature">

        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#wordpress"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Wordpress made easy</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime hic in et. Quasi incidunt soluta cumque
                et,
                ad officiis maxime?</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <!-- TODO: extract mulitple size images for optimization for WebP Format  -->
        <img class="feature__image" src="images/wordpress.jpg">
    </article>
    <article class="grid grid--1X2 feature">

        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#clock"></use>
                </svg>
            </span>
            <h3 class="feature__heading">24/7 Support.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime hic in et. Quasi incidunt soluta cumque
                et,
                ad officiis maxime?</p>
            <a href="#" class="link-arrow">Learn More</a>
        </div>
        <!-- TODO: extract mulitple size images for optimization for WebP Format  -->
        <img class="feature__image" src="images/support.jpg">
    </article>
</section>